cmake_minimum_required(VERSION 3.27)

project({{ source.module }} VERSION 0.0.1)

find_package(HDF5 REQUIRED COMPONENTS C CXX)
find_package(OpenMP REQUIRED COMPONENTS C CXX)

set(CMAKE_EXPORT_COMPILE_COMMANDS ON)
find_program(CCACHE_FOUND ccache)
if(CCACHE_FOUND)
    set(CMAKE_CXX_COMPILER_LAUNCHER ccache)
endif(CCACHE_FOUND)

include(FetchContent)

FetchContent_Declare(Catch2
    GIT_REPOSITORY https://github.com/catchorg/Catch2.git
    GIT_TAG v3.5.0
)
FetchContent_MakeAvailable(Catch2)

FetchContent_Declare(Fmt
    GIT_REPOSITORY https://github.com/fmtlib/fmt.git
    GIT_TAG 10.1.1
)
FetchContent_MakeAvailable(Fmt)

add_custom_command(
    OUTPUT ${CMAKE_CURRENT_BINARY_DIR}/simulator.cpp
    COMMAND episim37 codegen-cpu compile {{ input }} -o ${CMAKE_CURRENT_BINARY_DIR}
    DEPENDS {{ input }}
    VERBATIM
)

add_executable(simulator
    ${CMAKE_CURRENT_BINARY_DIR}/simulator.cpp)
target_link_libraries(simulator
    hdf5::hdf5
    hdf5::hdf5_cpp
    OpenMP::OpenMP_CXX
    fmt::fmt
)
target_compile_features(simulator PRIVATE cxx_std_17)
