// module: {{ module }}

#include <cinttypes>
#include <cstdlib>
#include <cassert>
#include <iostream>
#include <vector>
#include <algorithm>
#include <random>
#include <omp.h>
#include <simulation_common_openmp.h>

// ----------------------------------------------------------------------------
// Enumerations
// ----------------------------------------------------------------------------

{% for enum in enums %}
{{ enum | enum_defn }}
{% endfor %}

// ----------------------------------------------------------------------------
// Global variables
// ----------------------------------------------------------------------------

{% for global in globals %}
{{ global | global_defn }}
{% endfor %}

// ----------------------------------------------------------------------------
// Function declarations
// ----------------------------------------------------------------------------

{% for fn in functions %}
{{ fn | function_decl }}
{% endfor %}

// ----------------------------------------------------------------------------
// Function definitions
// ----------------------------------------------------------------------------

{% for fn in functions %}
{{ fn | function_defn }}
{% endfor %}

// ----------------------------------------------------------------------------
// Main
// ----------------------------------------------------------------------------

int main() {
    return 0;
}
